@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
npm i bootstrap-icons

*{
    font-family: "Cabin", sans-serif;
}

header{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hwb(56 89% 0% / 0.7), hwb(208 0% 35% / 0.7)), url(../img/pexels-marina-agrelo-5652294.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,hsla(208, 100%, 33%, 0.7), hsla(55, 100%, 95%, 0.582) ), url(../img/pexels-marina-agrelo-5652294.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-attachment: fixed; /* Ensure background stays fixed */
    width: 100%;
    overflow: hidden;


}

.body-header {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh; /* Set minimum height to full viewport height */
    margin-bottom: 0; /* Remove margin bottom */
}

.navbar-brand{
    max-width: 25%;
}

.navbar-ul{
    float: left;
    margin: 0 0 0 150px;
    gap: 6.5em;
    
}

.page-links{
    font-size: 22px;
    color: #fff;
    transition: .2s color ease-in-out;
    font-weight: 600;
    transition: .2s color ease-in-out;
}

.page-links:hover{
    color: #0088ff;
    transition: .2s color ease-in-out;
}

.contacto-btn{
    background-color: #F58F29;
    transition: .2s background-color ease-in-out;
    width: 175px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    transition: .2s transform ease-in-out;
}

.contacto-btn:hover{
    transform: scale(1.15);
    transition: .2s transform ease-in-out;
}

hr{
    max-width: 85%;
    color: #fff;
}

.bi-whatsapp-link{
    display: block;
    position: fixed;
    right: 3%;
    bottom: 5%;
    background-color: #00c420;
    padding: 15px;
    border-radius: 50%;
}

.bi-whatsapp-link{
    z-index: 2000;
}

/* Slider */

.section-container{
    height: 100%;
    
}

.slider-element{
    height: fit-content;
}

.arrows{
    z-index: 100;
    position: relative;
    bottom: 50px;
}


.title{
    font-size: 76px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    margin: 0;
    width: 75%;
    
}

.text-sliders{
    margin-top: 50px;
    opacity: 0;
    position:absolute;
    margin: 0;
    transition: .2s opacity ease-in-out;
    align-items: center;
}


.text-slider--show{
    opacity: 1;
    transition: .2s opacity ease-in-out;
}

.leer-mas{
    position: absolute;
    bottom: -70px;
    width: 10%;
    text-decoration: none;
    font-size: 24px;
    padding-top: 2px;
    background-color: #4464AD;
    transition: .2s background-color ease-in-out;
    height: 43px;
    z-index: 100;
    transition: .2s transform ease-in-out;
}

.leer-mas:hover{
    transform:scale(1.15);
    transition: .2s transform ease-in-out;
}



/* Desarrollamos */

.desarrollamos{
    background-color: #f2f2f2;
}

.desarrollamos-container{
    justify-content: start;
}

.main-title{
    color: #000;
    max-width: 100%;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
}

.desarrollamos-pw{
    font-size: 84px;
}

.paginas-w{
    color: #F58F29;
}

.todo{
    font-size: 96px;   
}

.developer-img{
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #1e1e1e8e;
}

.desarrollamos-p{
    font-size: 32px;
    margin-top: 2.5em;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

    
}

/* Servicio */

.servicio{
    background-color: #f2f2f2;
    text-align: center;
}

.servicio-container{
    width: 100%;
}

.servicio-title{
    color: #000;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    font-size: 84px;
    margin-inline: auto;

}


.card{
    max-width: 150%;
    max-height: 100%;
    border-radius: 50px;
    transition: .2s transform ease-in-out;
    border: none;
}

.desarrollo-card{
    transform: scale(1.1);
    background-color: #4464AD;
    
}

.card-important{
    font-size: 48px;
    color: #F58F29;
}


.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s transform ease-in-out, .05s box-shadow ease-in-out;
    
}

.ofrecemos-card:hover{
    box-shadow: 10px 10px 25px 1px #000;
    transition: .2s transform ease-in-out, .25s box-shadow ease-in-out, .2s background-color ease-in-out, .2s color ease-in-out;
    background-color: #4464AD;
    z-index: 1000;

}

.ofrecemos-card:hover .card-p{
    color: #fff;
}

.ofrecemos-card:hover .card-title{
    color: #fff;
}

.ofrecemos-card:hover .card-icons-blue{
    fill: #fff;
}


.desarrollo-card:hover{
    transform: scale(1.3);
    box-shadow: 5px 5px 25px 1px #000;
    transition: .2s transform ease-in-out, .05s box-shadow ease-in-out, .2s fill ease-in-out, .2s background-color ease-in-out, .2s color ease-in-out;
    background-color: #fff;
    z-index: 1000;

}

.desarrollo-card:hover .dw-title{
    color: #000;
}

.desarrollo-card:hover .dw-icon{
    fill: #0d6efd;
}

.desarrollo-card:hover .dw-p{
    color: #000;
}


.card-title{
    color: #000;
    font-size: 48px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);

}

.dw-title{
    color: #fff;
}

.dw-p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    max-width: 100%;

}

.card-p{
    color: #000;
    font-weight: bold;
    font-size: 20px;
    max-width: 100%;
}

.cards-container{
    flex-direction: row;
    margin-top: 5em;
    margin-left: 75px;
    margin-bottom: 50px;
}

/* IMPORTANTEEEEEEEEEEEEEEEEEEEEEEEEEEEEE LOS H1 SON DEMASIADOS, HAY QUE CONFIGURAR ESO AL FINAL */

/* Blog */

.blog{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hwb(56 89% 0% / 0.7), hwb(208 0% 35% / 0.7)), url(../img/pexels-photo-262508\ 1.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,hsla(208, 100%, 33%, 0.7), hsla(55, 100%, 95%, 0.582) ), url(../img/pexels-photo-262508\ 1.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; /* Ensure background stays fixed */

}

.nuestro-blog{
    padding-bottom: 50px;
}

.blog-cards-container{
    flex-direction: row;
    justify-content: space-evenly;
}

.blog-cards{
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.555);
    transition: .2s box-shadow ease-in-out, .2s transform ease-in-out;
    max-width: 25%;
}

.blog-cards:hover{
    box-shadow: 20px 20px 20px hsla(0, 0%, 0%, 0.9);
    transition: .2s box-shadow ease-in-out, .2s transform ease-in-out;

}

.blog-title{
    font-size: 48px;
    margin-top: 20px;
}

.blog-d{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Footer */

.page-footer{
    background-color: #1e1e1e;
}

.social-media{
    flex-direction: column;
    gap: 3em;
}

.contacto-f-title{
    margin-inline: auto;
    font-size: 40px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 25px;
}

.number-container{
    flex-direction: column;
}

.number{
    color: #ccc;
    font-size: 28px;
    font-weight: 500;
}

/* Contacto */

.email{
    background-color: #373737;
    border: none;
}

.email::placeholder{
    color: #f2f2f2;
    font-size: 22px;
    opacity: 78%;

}

.message{
    background-color: #373737;
    border: none;
    resize: none;

}

.message::placeholder{
    color: #f2f2f2;
    font-size: 22px;
    opacity: 78%;
}

.sub-btn{
    background-color: #4f4f4f;
    border: none;
    margin-top: .5rem;
    color: #f2f2f2;
    font-size: 38px;
    font-weight: 500;
}

.footer-container{
    flex-direction: row;
}

/* Desarrollo Page */

.diseño-title{
    font-size: 96px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    max-width: 90%;
}

.diseñamos-title{
    font-size: 72px;
    color: #000;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);

}

/* Precios */

.precios-title{
    color: #000;
    font-size: 84px;
}

.precios-card{
    max-width: 100%;
}

.precios-card:hover{
    cursor:auto;
    transform: none;
    background-color: #4464AD;
    transition: .2s background-color ease-in-out;
}

.precios-card:hover .precios-p{
    color: #fff;
    transition: .2s color ease-in-out;
}

.precios-card:hover .precios-card-title{
    color: #fff;
    transition: .2s color ease-in-out;
}

.precios-card-title{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

}

.precios-precio{
    font-size: 50px;
    font-weight: bold;
    color: #000;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
    margin-top: 40px;

}

.precios-p{
    margin-top: 40px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.p-com-card{
    transform: scale(1.1);
    background-color: #4464AD;
}

.precios-com-card-title{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

}

.precios-com-p{
    margin-top: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;

}

.p-com-card:hover{
    transform: scale(1.1);
    background-color: #fff;

}
.p-com-card:hover .precios-com-p{
    color: #000;
    transition: .2s color ease-in-out;

}
.p-com-card:hover .precios-com-card-title{
    color: #000;
    transition: .2s color ease-in-out;

}

.desarrollo-precios-p{
    font-size: 20px;
}

.precios-contacto{
    color: #fff;
    background-color: #F58F29;
}

.precios-contacto-btn{
    font-weight: 500;
}

.desarrollo-cards-container{
    display: flex;
    gap: 4em;
    margin-inline: auto;
}

.diseño-precios-container{
    display: flex;
    max-width: 100%;
    margin-right: 105px;
    gap: 2.5em;
}


/* Small Mobiles */

@media (max-width: 767px) {
    header {
        height: auto; /* Set height to auto so it adjusts based on content */
        background-size: cover; /* Maintain the cover background for small screens */
    }

    .navbar-ul {
        float: none; /* Remove float for better responsiveness */
        margin: 0;
        text-align: center; /* Center the navigation items */
        padding-top: 1em;
        flex-direction: column;
        gap: 3em;
    }

    .contacto-btn {
        margin: 1em auto; /* Center the contact button */
        display: block; /* Make it a block element for centering */
    }

    .body-header {
        padding: 10px; /* Reduce padding for better spacing on small screens */
    }

    .navbar-brand{
        max-width: 50%;
    }

    .text-slider-container{
        justify-content: center;
    }

    .title {
        margin-top: 50px;
        font-size: 40px; /* Decrease font size for better readability on small screens */
        width: 100%;
        text-align: center;
        justify-content: center;
        width: 100%;
    }


    .navbar-ul, .page-links, .contacto-btn {
        font-size: 18px; /* Decrease font size for better readability on small screens */
    }
    
    /* Add more specific styles or adjustments as needed for small screens */

    .right-arrow{
        display: none;
    }
    .left-arrow{
        display: none;
    }

    .leer-mas{
        font-size: 18px;
        width: 30%;
        height: 35px;
    }

    .desarrollamos-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .desarrollamos-pw{
        text-align: center;
        font-size: 40px;
    }

    .paginas-w{
        font-size: 24px;
    }

    .todo{
        font-size: 56px;
    }

    .desarrollamos-textos{
        text-align: center;
        max-width: 50%;
    }

    .desarrollamos-p{
        font-size: 20px;
        font-weight: bold;

    }
    .developer-img{
        width: 100%;
    }

    .servicio{
        text-align: center;
    }

    .servicio-container{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .servicio-title{
        font-size: 50px;
        width: fit-content;
        margin-inline: none;
    }

    .cards-container{
        flex-direction: column;
        gap: 2em;
    }

    .card{
        max-width: 90%;
    }

    .card-p{
        text-shadow: none;
        font-size: 14px;
    }

    .card-important{
        text-shadow: none;
        font-size: 26px;
        color: #F58F29;
    }

    .card-icons{
        width: 45%;
        height: 50%;
    }

    .card-title{
        text-shadow: none;
        font-size: 26px;
    }

    .card-p-imp{
        text-shadow: none;
        font-size: 14px;
    }

    
    .ofrecemos-card:hover{
        box-shadow: none;
        transition: .2s transform ease-in-out;
    
    }
    .desarrollo-card{
        background-color: hsla(208, 100%, 50%, 0.2);
    }

    .desarrollo-card:hover{
        transition: .2s transform ease-in-out;
    }

    /* Blog */

    .blog{
        align-items: center;
    }

    .nuestro-blog{
        font-size: 50px;    
    }

    .blog-cards-container{
        flex-direction: column;
        gap: 2em;
    }

    .blog-cards{
        max-width: 90%;
    }

    .blog-title{
        font-size: 36px;
    }

    .blog-d{
        font-size: 15px;
        margin: 0;
    }

    /* Footer */

    .navbar-brand-f{
        width: 100%;
        
        
    }

    .footer-container{
        flex-direction: column;
        align-items: center;
    }

    .social-media{
        flex-direction: row;
        gap: 1em;
        justify-content: center;
        margin-top: 50px;
    }

    .social-icons{
        min-width: 100%;
    }

    .contacto-f{
        min-width: 100%;
        text-align: center;
    }

    .number-container{
        flex-direction: column;
    }

    .number{
        font-size: 20px;
        margin: 0;
    }

    .bi-whatsapp-link{
        display: none;
    }
    

    
}
