@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
npm i bootstrap-icons

*{
    font-family: "Cabin", sans-serif;
}

header{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hwb(56 89% 0% / 0.7), hwb(208 0% 35% / 0.7)), url(../img/pexels-marina-agrelo-5652294.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,hsla(208, 100%, 33%, 0.7), hsla(55, 100%, 95%, 0.582) ), url(../img/pexels-marina-agrelo-5652294.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-attachment: fixed; /* Ensure background stays fixed */
    width: 100%;

    overflow: hidden;


}

.body-header {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh; /* Set minimum height to full viewport height */
    margin-bottom: 0; /* Remove margin bottom */
}

.navbar-brand{
    width: 25%;
}

.navbar-ul{
    float: left;
    margin: 0 0 0 150px;
    gap: 6.5em;
    
}

.page-links{
    font-size: 22px;
    color: #fff;
    transition: .2s color ease-in-out;
    font-weight: 600;
    transition: .2s color ease-in-out;
}

.page-links:hover{
    color: #0088ff;
    transition: .2s color ease-in-out;
}

.contacto-btn{
    background-color: #F58F29;
    transition: .2s background-color ease-in-out;
    width: 175px;
    border: none;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    transition: .2s transform ease-in-out;
}

.contacto-btn:hover{
    transform: scale(1.15);
    transition: .2s transform ease-in-out;
}

hr{
    max-width: 85%;
    color: #fff;
}

/* Slider */

.section-container{
    height: 100%;
    
}

.slider-element{
    height: fit-content;
}

.arrows{
    z-index: 100;
    position: relative;
    bottom: 50px;
}


.title{
    font-size: 76px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    margin: 0;
    width: 75%;
    
}

.text-sliders{
    margin: auto;
    opacity: 0;
    position:absolute;
    margin: 0;
    transition: .2s opacity ease-in-out;
    align-items: center;
}


.text-slider--show{
    opacity: 1;
    transition: .2s opacity ease-in-out;
}

.leer-mas{
    position: absolute;
    bottom: -70px;
    width: 10%;
    text-decoration: none;
    font-size: 24px;
    padding-top: 2px;
    background-color: #4464AD;
    transition: .2s background-color ease-in-out;
    height: 43px;
    z-index: 100;
    transition: .2s transform ease-in-out;
}

.leer-mas:hover{
    transform:scale(1.15);
    transition: .2s transform ease-in-out;
}



/* Desarrollamos */

.desarrollamos{
    background-color: #f2f2f2;
}

.desarrollamos-container{
    justify-content: start;
}

.main-title{
    max-width: 100%;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
}

.desarrollamos-pw{
    font-size: 84px;
}

.paginas-w{
    color: #F58F29;
}

.todo{
    font-size: 96px;   
}

.developer-img{
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px #1e1e1e8e;
}

.desarrollamos-p{
    font-size: 32px;
    margin-top: 2.5em;
    font-weight: 500;
}

/* Servicio */

.servicio{
    background-color: #f2f2f2;
}

.servicio-title{
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    font-size: 84px;

}

.card{
    max-height: 100%;
    max-width: 30%;
    border-radius: 50px;
    transition: .2s transform ease-in-out;
    border: none;
    

}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s transform ease-in-out, .05s box-shadow ease-in-out;
    
}

.ofrecemos-card:hover{
    box-shadow: 10px 10px 10px 10px hsla(208, 100%, 50%, 0.85);
    transition: .2s transform ease-in-out, .25s box-shadow ease-in-out;

}

.cards:hover .card-icons{
    fill: #fff;
    transition: .2s color ease-in-out;
}

.card-title{
    font-size: 48px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);

}

.card-p{
    font-weight: bold;
    font-size: 20px;
    max-width: 100%;
}

.cards-container{
    gap: 3em;
    margin-top: 5em;
}

/* IMPORTANTEEEEEEEEEEEEEEEEEEEEEEEEEEEEE LOS H1 SON DEMASIADOS, HAY QUE CONFIGURAR ESO AL FINAL */

/* Blog */

.blog{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, hwb(56 89% 0% / 0.7), hwb(208 0% 35% / 0.7)), url(../img/pexels-photo-262508\ 1.png);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top,hsla(208, 100%, 33%, 0.7), hsla(55, 100%, 95%, 0.582) ), url(../img/pexels-photo-262508\ 1.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed; /* Ensure background stays fixed */

}

.nuestro-blog{
    padding-bottom: 50px;
}

.blog-cards-container{
    justify-content: space-evenly;
}

.blog-cards{
    box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.555);
    transition: .2s box-shadow ease-in-out, .2s transform ease-in-out;
}

.blog-cards:hover{
    box-shadow: 20px 20px 20px hsla(0, 0%, 0%, 0.9);
    transition: .2s box-shadow ease-in-out, .2s transform ease-in-out;

}

.blog-title{
    font-size: 48px;
    margin-top: 20px;
}

.blog-d{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* Footer */

.page-footer{
    background-color: #1e1e1e;
}

.social-media{
    gap: 3em;
}

.contacto-f-title{
    font-size: 40px;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-bottom: 25px;
}

.number{
    color: #ccc;
    font-size: 28px;
    font-weight: 500;
}

/* Contacto */

.email{
    background-color: #373737;
    border: none;
}

.email::placeholder{
    color: #f2f2f2;
    font-size: 22px;
    opacity: 78%;

}

.message{
    background-color: #373737;
    border: none;
    resize: none;

}

.message::placeholder{
    color: #f2f2f2;
    font-size: 22px;
    opacity: 78%;
}

.sub-btn{
    background-color: #4f4f4f;
    border: none;
    margin-top: .5rem;
    color: #f2f2f2;
    font-size: 38px;
    font-weight: 500;
}

/* Small Mobiles */

@media (max-width: 767px) {
    header {
        height: auto; /* Set height to auto so it adjusts based on content */
        background-size: 100%; /* Maintain the cover background for small screens */
    }

    .navbar-ul {
        float: none; /* Remove float for better responsiveness */
        margin: 0;
        text-align: center; /* Center the navigation items */
        padding-top: 1em;
        flex-direction: column;
        gap: 3em;
    }

    .contacto-btn {
        margin: 1em auto; /* Center the contact button */
        display: block; /* Make it a block element for centering */
    }

    .body-header {
        padding: 10px; /* Reduce padding for better spacing on small screens */
    }

    .navbar-brand{
        width: 50%;
    }

    .title {
        font-size: 48px; /* Decrease font size for better readability on small screens */
        width: 100%;
    }


    .navbar-ul, .page-links, .contacto-btn {
        font-size: 18px; /* Decrease font size for better readability on small screens */
    }
    
    /* Add more specific styles or adjustments as needed for small screens */

    .right-arrow{
        position: relative;
        right: -60px;
        width: 25%;
        top: -90px;
    }
    .left-arrow{
        position: relative;
        left: -60px;
        width: 25%;
        top: -90px;
    }

    .title{
        font-size: 36px;
        text-align: center;
        justify-content: center;
        width: 85%;
    }

    .leer-mas{
        font-size: 18px;
        width: 20%;
        height: 35px;
    }

    .desarrollamos-container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .desarrollamos-pw{
        text-align: center;
        font-size: 24px;
    }

    .paginas-w{
        font-size: 30px;
    }

    .todo{
        font-size: 74px;
    }

    .desarrollamos-textos{
        text-align: center;
    }

    .desarrollamos-p{
        font-size: 20px;
    }
    .developer-img{
        width: 100%;
    }
}
